@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
}

/* HEADER PART START */

/* Main header layout */
header{
  background-color:#EEEEEE;
}

/* Header Layouts start  */
.Header-Layout-CompanyName{
  width:35vw;
  height:60px;
}

.Header-Layout-NavBar{
  float:right;
  position:relative;
  top:-40px;
  left:-10%;
}

.Header-Layout-LoginButton{
float:right;
position:relative;
left: 17vw;
top:-44px;
width:70px;
height:30px;
}

/* Header Layouts end */


.CompanyName{
color: #848484;
font-size: .5em;
float: left;
position:relative;
top:15%;
left:5%;
}

.NavBar{
  position: relative;
  top:-5px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;  
}

.NavBar-content{
  padding:10px;
  font-size: .9rem;
  line-height: .7rem;
  text-transform:uppercase;
  font-weight: 600;
}

.Header-Layout-LoginButton button{
  height:100%;
  width:100%;
  border:1px solid #1976D2;
  border-radius:5px;
  background-color:Transparent;
  text-transform: uppercase;
  font-size: .75rem;
  color:  #1976D2;
  font-weight: 1000;
  line-height:1rem;
  letter-spacing:.03rem;
}

/* HEADER PART END */

/* MAIN-CONTAINER-START */
/* Main Layouts */
.MainContainer {
  height: 90vh;
  position: relative;
  top: -4px;
}

/* InternalLayouts start  */
.Layout1 {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Layout2 {
  position: relative;
  width: 100%;
  height: 60%;
}

.Layout2-Box{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height:100%;
}

/* Box Layout start */

.Box {
  padding-left: 15px;
  padding-right: 15px;
  width: 15%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  transition: .5s;
  color: rgb(71, 71, 71);

}

.Box:hover {
  padding-left: 15px;
  padding-right: 15px;
  top:-10%;
  width: 14%;
  height: 120%;
  font-family: 'Roboto', sans-serif;
  transition: 1s;
}

.Box-Top-Portion{
  background-color:#EEEEEE;
  height:10%;
  font-size: 1.2rem;
  padding-top:12px;
}
.Box--AmountSection{
  font-size: 2rem;
  padding-right: 1px;
  line-height:3rem;
}

.Box--AmountSection span{
  font-size: 1rem;
  padding-left: 1px;;
}

.Box-Description{
  line-height:1.7rem;
}
/* Box Layout end */

/* InternalLayouts end  */
.Layout1 h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 10;
  font-size: 3rem;
}


.Layout1-Paragraph{
  position: relative;
  top:-45px;
  width: 44%;
  font-family: 'Roboto', sans-serif;
  font-weight: 10;
  font-size: 1.5rem;
}



/* Box OF LAYOUT2 Start */


/* Box OF LAYOUT2 end */


/* MAIN-CONTAINER-END */
