@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
}

/* HEADER PART START */

/* Main header layout */
header{
  background-color:#EEEEEE;
}

/* Header Layouts start  */
.Header-Layout-CompanyName{
  width:35vw;
  height:60px;
}

.Header-Layout-NavBar{
  float:right;
  position:relative;
  top:-40px;
  left:-10%;
}

.Header-Layout-LoginButton{
float:right;
position:relative;
left: 17vw;
top:-44px;
width:70px;
height:30px;
}

/* Header Layouts end */


.CompanyName{
color: #848484;
font-size: .5em;
float: left;
position:relative;
top:15%;
left:5%;
}

.NavBar{
  position: relative;
  top:-5px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;  
}

.NavBar-content{
  padding:10px;
  font-size: .9rem;
  line-height: .7rem;
  text-transform:uppercase;
  font-weight: 600;
}

.Header-Layout-LoginButton button{
  height:100%;
  width:100%;
  border:1px solid #1976D2;
  border-radius:5px;
  background-color:Transparent;
  text-transform: uppercase;
  font-size: .75rem;
  color:  #1976D2;
  font-weight: 1000;
  line-height:1rem;
  letter-spacing:.03rem;
}

/* HEADER PART END */

/* MAIN-CONTAINER-START */
/* Main Layouts */
.MainContainer {
  height: 90vh;
  position: relative;
  top: -4px;
  margin-bottom: 60px;;
}

/* InternalLayouts start  */
.Layout1 {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Box Layout end */

/* InternalLayouts end  */
.Layout1 h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 10;
  font-size: 3rem;

}


.Layout1-Paragraph{
  position: relative;
  top:-45px;
  width: 44%;
  font-family: 'Roboto', sans-serif;
  font-weight: 10;
  font-size: 1.5rem;
}



/* Box OF LAYOUT2 Start */

.Layout2 {
  position: relative;
  width: 100%;
  height: 60%;
  box-shadow: 0px 2px 1px 1px #EEEEEE;
}

.Layout2-Box{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height:100%;
}

/* Box Layout start */

.Box {
  width: 15%;
  height: 80%;
  font-family: 'Roboto', sans-serif;
  transition: .5s;
  color: rgb(71, 71, 71);
  box-shadow: 0px 1px 1px 1px #EEEEEE;
  box-shadow: 0px 1px 2px 0px rgb(216, 216, 216);
  margin-left: 10px;
  margin-right: 10px;
}

/* .Box:hover {

  top:-10%;
  width: 14%;
  height: 90%;
  font-family: 'Roboto', sans-serif;
  transition: 1s;
} */

.Box-Top-Portion{
  background-color:#EEEEEE;
  height:10%;
  font-size: 1.2rem;
  padding-top:12px;
  width:100%;
}
.Box--AmountSection{
  font-size: 2rem;
  padding-right: 1px;
  line-height:3rem;
}

.Box--AmountSection span{
  font-size: 1rem;
  padding-left: 1px;;
}

.Box-Description{
  line-height:1.7rem;
  padding-bottom: 20px;
  font-size: .8rem;
}

.Box-Subscription{
  height: 35px;
  position: relative;
  top:8px;
}
.Box-Subscription button{
  width: 95%;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #1976D2;
  border: 1px solid #1976D2;
  border-radius: 4px;
height: 100%;
transition:1s;

}

.Box-Subscription button:hover{
  width: 95%;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  background-color: #1976D2;
  color:#EEEEEE;
  border: none;
  border-radius: 4px;
height: 100%;
transition:1s;
}


/* Box OF LAYOUT2 end */

/* MAIN-CONTAINER-END */

/* FOOTER START */


Footer{
  align-items: center;
  display: flex;
  justify-content: center;
}

.Footer-content {
  top:10%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;

  left: 20%;
}

.Footer-content-box{
  display:flex;
  flex-direction:column;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  align-items: start;
}

.content{
  color:gray;
  font-size: 1rem;
  line-height:1.5rem;
  position: relative;
  top:15px;
}

.Footer-copyright{
  position: relative;
  top:60px;
  color:gray;
}

/* FOOTER END */
